<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h5>Order</h5>
    </div>
  </div>
  <div class="panel-body">
    <%= render 'order_form' %>
  </div>
</div>

<hr>

<div id="order-options">
  <%= render @groups %>
</div>