<%= render 'header' %>

<div class="row">
  <div class="col-md-2">
    <p>
      <%= link_to @order, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Cancel
      <% end %>
    </p>
  </div>
  <div class="col-md-10">
    <%= render 'form' %>
  </div>
</div>
