<header>
  <div class="row">
    <div class="col-sm-12">
      <p>
        <%= link_to @order, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-arrow-left"></span>
          Cancel
        <% end %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>New order</h1>
    </div>
  </div>
</header>

<%= render 'form' %>