@import "bootstrap-sprockets";
@import "bootstrap";

body{
  padding: 70px 0 0 0;
}

.avatar-sm{
  @extend .img-circle;
  position: relative;
  width: 24px;
  height: auto;
  margin: -7px 0 -5px 0;
}

.products-table{
  tr:nth-child(odd) td:first-child, tr:nth-child(even) td:first-child{
    min-width: 5.5em;
  }
  tr th:last-child, tr td:last-child{
    text-align: right;
  }
}