@import "bootstrap-sprockets";
@import "bootstrap";

body{
  padding: 70px 0 0 0;
}

.avatar-sm{
  @extend .img-circle;
  position: relative;
  width: 24px;
  height: auto;
  margin: -7px 0 -5px 0;
}

.products-table{
  // override bootstrap rules
  tr:nth-child(odd) td:first-child, tr:nth-child(even) td:first-child{
    min-width: 5.5em;
  }
  // 2nd column
  tr td:first-child+td, tr th:first-child+th{
    width: 50%;
  }
  // 3rd column
  tr td:first-child+td+td, tr th:first-child+th+th{
    max-width: 4em;
    width: 4em;
  }
  // 4th column
  tr td:first-child+td+td+td, tr th:first-child+th+th+th{
    max-width: 4em;
    width: 4em;
    text-align: right;
  }
  // 5th column
  tr td:first-child+td+td+td+td, tr th:first-child+th+th+th+th{
    width: 4em;
  }
  
  tr th:last-child, tr td:last-child{
    width: 10em;
  }
  .line_item_quantity{
    width: 2em;
  }
}

.alert-notice{
  @extend .alert-success;
}