@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";

@import "products";
@import "order_form";
@import "line_items";



body{
  padding: 70px 0 0 0;
}

header{
  padding-bottom: (($line-height-computed / 2) - 1);
  margin: ($line-height-computed * 2) 0 $line-height-computed;
  border-bottom: 1px solid $page-header-border-color;
  h1{
    line-height: 1;
    margin: 0;
  }
}

$highlight: mix(lighten(#ff0, 40%), #f00, 95%);


table.clickable tr:hover > td,
table.clickable > tbody > tr:nth-child(2n+1):hover > td{
    cursor: pointer;
    background: none;
    background-color: $highlight;
}

.avatar-sm{
  @extend .img-circle;
  position: relative;
  width: 24px;
  height: auto;
  margin: -7px 0 -5px 0;
}

.alert-notice{
  @extend .alert-success;
}

.alert-alert{
  @extend .alert-danger;
}

#order-panel{
  width: 95%;
  margin: 0 auto;
  max-width: 39.6em;
}

#order-items{
  width: 100%;
  tr td:nth-child(3){
    //width: 75%;
  }
  tr td:nth-child(4) {
    width: 5%;
  }
  tr td:nth-child(5){
    //width: 5%;
  }
  tr td:nth-child(6){
    text-align: right;
  }
  td input{
    width: 2em;
  }
}

.order-table{
  td:last-child{
    text-align: right;
  }
}

.alert-notice{
  @extend .alert-success;
}

.user-prompt{
  visibility: hidden;
}

.table tr:hover{
  .user-prompt{
    visibility: visible;
  }
}

.js-template{ display: none; }

@media (min-width: $screen-sm-min) {
  .list-group-horiz{
    @include clearfix();
    .list-group-item{
      float: left;
      margin-left: -1px;
      &:first-child{
        border-radius: 4px 0 0 4px;
        margin-left: 0;
      }
      &:last-child{
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
