<% if flash && flash.any? %>
<section class="flash">
  <% flash.each do |type, msg| %>
  <div class="alert alert-<%= type %>">
    <%= msg %>
  </div>
  <% end %>
</section>
<% end %>

<% if current_user && user_not_configured? %>
<section class="flash">
  <div class="alert alert-warning">
    Your account isn't setup yet. Ask IT for help.
  </div>
</section>
<% end %>
